*{

    -webkit-text-fill-color: aliceblue;
    margin-left: 20px;
    margin-right: 20px;

}

body{
background: gray;
}
.dark-mode {
    background-color: black;
    color: white;
}


header{
    text-align: center;
    background: darkblue;
    border: solid dimgray;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;

}
h1{
    background: darkblue;
}

form{
    background: darkblue;
}
#result{

    text-align: center;
    background: darkgreen;
    border: dot-dot-dash;
    border: solid white;
}

table{
    background: firebrick;
    text-align: center;
}

small{
    background: blueviolet;
}

h5{
    background: dimgray;
    border: solid darkslategray;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius:50px;
    border-bottom-right-radius: 50px;
}

h4{
    width: 15%;
    background: purple;
    border: solid crimson;
    border-radius: 50px;
}

h3{
    width: 15%;
    background: darkslategray;
    border: solid darkgoldenrod;
    border-radius: 50px;

}


.container{

    display: flex;
    justify-content: center;

}

input{

    margin-top: 30px;
    background: #262626;
    color: white;
}

ol{
    background: darkslategray;
    border: solid white;
    width: 40%;
}

video{

    border: solid #0e0e0e;
    width: 30%;
}

button{
    height: 30px;
    margin-top: 25px;
}

#clock{

    font-size: 50px;
    background-color: darkslategrey;
    display: flex;
    align-items: center;
    justify-content: center;

}